*.pyc
*.egg-info
*.catkin_workspace
*.ipynb_checkpoints
*.jpg
.idea/
.vscode/
docs/generate_docs/
app/gym_env/.idea/
app/envs/pineapple_calibrated.py
app/envs/pineapple_diff_cart.py
app/examples/run_pineapplecalibrated.py
app/examples/run_pineapplediffcart.py
app/sample_pics/
app/tests/.idea/
build/
devel/
