<robot name="TrashCan">
	<link name="_name">
		<visual>
			<origin rpy="90 0 -120" xyz="0.1 0 0.58" />
			<geometry>
				<mesh filename="TrashCan/pobelle.obj" scale="0.1 0.1 0.1" />
			</geometry>
			<material name="texture">
				<color rgba="1.0 1.0 1.0 1.0" />
			</material>
		</visual>
		<collision>
			<geometry>
				<mesh filename="TrashCan/pobelle.obj" scale="0.1 0.1 0.1" />
			</geometry>
		<origin rpy="90 0 -120" xyz="0.1 0 0.58" /></collision>
		<inertial>
			<mass value="1.0" />
			<inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
		</inertial>
	</link>
</robot>