<?xml version="0.0" ?>
<robot name="hammer">
    <material name="hmr_col">
        <color rgba="0.3 0.3 1.0 0.5"/>
    </material>
    <material name="hmr_red">
        <color rgba=".65 0 0 1"/>
    </material>
    <material name="hmr_metal">
        <color rgba=".65 .65 .65 1"/>
        <texture filename="../textures/metal1.png"/>
    </material>
    <material name="hmr_wood">
        <texture filename="../textures/wood1.png"/>
    </material>

	<link name="hammer_red">
		<inertial>
			<origin rpy="0.00000 -0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
			<mass value="0.01"/>
			<inertia ixx="0.01968" ixy="0" ixz="0" iyy="0.02142" iyz="0" izz="0.01184"/>
		</inertial>
		<visual>
			<origin rpy="0 1.57 0" xyz="0.00000 0.00000 0.00000"/>
			<geometry>
				<mesh filename="meshes/hammer/hammerhandle.stl"/>
			</geometry>
			<material name="mat_-1_0">
				<color rgba=".65 0 0 1" />
			</material>
		</visual>
		<collision>
			<origin rpy="0 1.57 0" xyz="0.00000 0.00000 0.00000"/>
			<geometry>
				<capsule length="0.28000" radius="0.02000"/>
			</geometry>
		</collision>
	</link>

	<link name="hammer_metal">
		<inertial>
			<origin rpy="0.00000 -0.00000 0.00000" xyz="0.0000 0.00000 0.00000"/>
			<mass value="0.01"/>
			<inertia ixx="0.01968" ixy="0" ixz="0" iyy="0.02142" iyz="0" izz="0.01184"/>
		</inertial>

		<visual>
			<origin rpy="0 1.57 0" xyz="0.16000 0.00000 0.00000"/>
			<geometry>
				<cylinder length="0.05000" radius="0.02600"/>
			</geometry>
			<material name="hmr_metal" />
		</visual>
		<visual>
			<origin rpy="1.57 0 0" xyz="0.16000 0.02600 0.00000"/>
			<geometry>
				<cylinder length="0.03000" radius="0.02000"/>
			</geometry>
			<material name="hmr_metal" />
		</visual>
		<visual>
			<origin rpy="1.57 0 0" xyz="0.16000 0.05600 0.00000"/>
			<geometry>
				<cylinder length="0.03200" radius="0.03800"/>
			</geometry>
			<material name="hmr_metal" />
		</visual>
		<visual>
			<origin rpy="1.57 0 0" xyz="0.16000 -0.05600 0.00000"/>
			<geometry>
				<cylinder length="0.03200" radius="0.03800"/>
			</geometry>
			<material name="hmr_metal" />
		</visual>
		<visual>
			<origin rpy="1.57 0 0" xyz="0.16000 -0.02600 0.00000"/>
			<geometry>
				<cylinder length="0.03000" radius="0.02000"/>
			</geometry>
			<material name="hmr_metal" />
		</visual>

		<collision>
			<origin rpy="0 1.57 0" xyz="0.16000 0.00000 0.00000"/>
			<geometry>
				<cylinder length="0.05000" radius="0.02600"/>
			</geometry>
		</collision>
		<collision>
			<origin rpy="1.57 0 0" xyz="0.16000 0.02600 0.00000"/>
			<geometry>
				<cylinder length="0.03000" radius="0.02000"/>
			</geometry>
		</collision>
		<collision>
			<origin rpy="1.57 0 0" xyz="0.16000 0.05600 0.00000"/>
			<geometry>
				<cylinder length="0.03200" radius="0.03800"/>
			</geometry>
		</collision>
		<collision>
			<origin rpy="1.57 0 0" xyz="0.16000 -0.05600 0.00000"/>
			<geometry>
				<cylinder length="0.03200" radius="0.03800"/>
			</geometry>
		</collision>
		<collision>
			<origin rpy="1.57 0 0" xyz="0.16000 -0.02600 0.00000"/>
			<geometry>
				<cylinder length="0.03000" radius="0.02000"/>
			</geometry>
		</collision>
	</link>

	<link name="hammer_col">
		<inertial>
			<origin rpy="0.00000 -0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
			<mass value="0.01"/>
			<inertia ixx="0.01968" ixy="0" ixz="0" iyy="0.02142" iyz="0" izz="0.01184"/>
		</inertial>
		<visual>
			<origin rpy="0 1.57 0" xyz="0.16000 0.00000 0.00000"/>
			<geometry>
				<cylinder length="0.05000" radius="0.02600"/>
			</geometry>
			<material name="hmr_col" />
		</visual>
		<visual>
			<origin rpy="1.57 0 0" xyz="0.16000 0.02600 0.00000"/>
			<geometry>
				<cylinder length="0.03000" radius="0.02000"/>
			</geometry>
			<material name="hmr_col" />
		</visual>
		<visual>
			<origin rpy="1.57 0 0" xyz="0.16000 0.05600 0.00000"/>
			<geometry>
				<cylinder length="0.03200" radius="0.03800"/>
			</geometry>
			<material name="hmr_col" />
		</visual>
		<visual>
			<origin rpy="1.57 0 0" xyz="0.16000 -0.05600 0.00000"/>
			<geometry>
				<cylinder length="0.03200" radius="0.03800"/>
			</geometry>
			<material name="hmr_col" />
		</visual>
		<visual>
			<origin rpy="1.57 0 0" xyz="0.16000 -0.02600 0.00000"/>
			<geometry>
				<cylinder length="0.03000" radius="0.02000"/>
			</geometry>
			<material name="hmr_col" />
		</visual>

		<collision>
			<origin rpy="0 1.57 0" xyz="0.16000 0.00000 0.00000"/>
			<geometry>
				<cylinder length="0.05000" radius="0.02600"/>
			</geometry>
		</collision>
		<collision>
			<origin rpy="1.57 0 0" xyz="0.16000 0.02600 0.00000"/>
			<geometry>
				<cylinder length="0.03000" radius="0.02000"/>
			</geometry>
		</collision>
		<collision>
			<origin rpy="1.57 0 0" xyz="0.16000 0.05600 0.00000"/>
			<geometry>
				<cylinder length="0.03200" radius="0.03800"/>
			</geometry>
		</collision>
		<collision>
			<origin rpy="1.57 0 0" xyz="0.16000 -0.05600 0.00000"/>
			<geometry>
				<cylinder length="0.03200" radius="0.03800"/>
			</geometry>
		</collision>
		<collision>
			<origin rpy="1.57 0 0" xyz="0.16000 -0.02600 0.00000"/>
			<geometry>
				<cylinder length="0.03000" radius="0.02000"/>
			</geometry>
		</collision>
	</link>

	<joint name="jointfix_2_0" type="fixed">
		<parent link="hammer_red"/>
		<child link="hammer_metal"/>
		<dynamics damping="1.0" friction="0.0001"/>
		<origin rpy="0.00000 -0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
		<axis xyz="0.00000 0.00000 0.00000"/>
	</joint>
	<joint name="jointfix_3_0" type="fixed">
		<parent link="hammer_metal"/>
		<child link="hammer_col"/>
		<dynamics damping="1.0" friction="0.0001"/>
		<origin rpy="0.00000 -0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
		<axis xyz="0.00000 0.00000 0.00000"/>
	</joint>
</robot>
