<?xml version="0.0" ?>
<robot name="mug">
	<link name="mug">
		<inertial>
			<origin rpy="0.00000 -0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
			<mass value="0.17512"/>
			<inertia ixx="0.00011" ixy="0" ixz="0" iyy="0.00016" iyz="0" izz="0.00014"/>
		</inertial>

		<visual>
			<origin rpy="0.00000 -0.00000 0.00000" xyz="0.00000 0.00000 0.03500"/>
			<geometry>
				<mesh filename="meshes/coffeemachine/mug.stl"/>
			</geometry>
			<material name="mat_-1_0">
				<color rgba="1.00000 1.00000 1.00000 1.00000" />
			</material>
		</visual>
		<visual>
			<origin rpy="1.57 -0.00000 0.00000" xyz="0.03400 0.00000 0.04200"/>
			<geometry>
				<mesh filename="meshes/coffeemachine/handle.stl"/>
			</geometry>
			<material name="mat_-1_1">
				<color rgba="1.00000 1.00000 1.00000 1.00000" />
			</material>
		</visual>

		<collision>
			<origin rpy="0.00000 -0.00000 0.00000" xyz="0.00000 0.00000 0.03500"/>
			<geometry>
				<mesh filename="meshes/coffeemachine/mug.stl"/>
			</geometry>
		</collision>
		<collision>
			<origin rpy="1.57 -0.00000 0.00000" xyz="0.03400 0.00000 0.04200"/>
			<geometry>
				<mesh filename="meshes/coffeemachine/handle.stl"/>
			</geometry>
		</collision>
		<collision>
			<origin rpy="0.00000 -0.00000 0.00000" xyz="0.00000 0.00000 0.03500"/>
			<geometry>
				<cylinder length="0.06600" radius="0.02800"/>
			</geometry>
		</collision>
		<collision>
			<origin rpy="1.57 -0.00000 0.00000" xyz="0.03400 0.00000 0.04200"/>
			<geometry>
				<cylinder length="0.01000" radius="0.02000"/>
			</geometry>
		</collision>
	</link>
</robot>
