<?xml version="0.0" ?>
<robot name="puck_goal">
    <material name="puck_red">
        <color rgba=".6 0 0 1"/>
    </material>
	<link name="link0_0">
		<inertial>
			<origin rpy="0.00000 -0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
			<mass value="0.00000"/>
			<inertia ixx="0.00000" ixy="0" ixz="0" iyy="0.00000" iyz="0" izz="0.00000"/>
		</inertial>
	</link>
	<link name="link0_1">
		<inertial>
			<origin rpy="0.00000 -0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
			<mass value="0.21795"/>
			<inertia ixx="0.00363" ixy="0" ixz="0" iyy="0.00419" iyz="0" izz="0.00254"/>
		</inertial>
		<visual>
			<origin rpy="0.00000 -0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
			<geometry>
				<mesh filename="meshes/puck/goal_net.stl" scale="1.00000 1.00000 1.00000"/>
			</geometry>
			<material name="mat_0_97">
				<color rgba="1 1 1 1" />
			</material>
		</visual>
		<collision>
			<origin rpy="0.00000 -0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
			<geometry>
				<mesh filename="meshes/puck/net1_col.stl" scale="1.00000 1.00000 1.00000"/>
			</geometry>
		</collision>
		<collision>
			<origin rpy="0.00000 -0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
			<geometry>
				<mesh filename="meshes/puck/net2_col.stl" scale="1.00000 1.00000 1.00000"/>
			</geometry>
		</collision>
		<collision>
			<origin rpy="0.00000 -0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
			<geometry>
				<mesh filename="meshes/puck/net3_col.stl" scale="1.00000 1.00000 1.00000"/>
			</geometry>
		</collision>
		<collision>
			<origin rpy="0.00000 -0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
			<geometry>
				<mesh filename="meshes/puck/net4_col.stl" scale="1.00000 1.00000 1.00000"/>
			</geometry>
		</collision>
	</link>

	<link name="frame_vis">
	    <inertial>
			<origin rpy="0.00000 -0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
			<mass value="0.21795"/>
			<inertia ixx="0.00363" ixy="0" ixz="0" iyy="0.00419" iyz="0" izz="0.00254"/>
		</inertial>
        <visual>
			<origin rpy="1.571 -0.00000 0.00000" xyz="-0.10000 0.00400 0.00900"/>
			<geometry>
				<capsule length="0.14600" radius="0.00800"/>
			</geometry>
			 <material name="puck_red"/>
		</visual>
		<collision>
			<origin rpy="1.571 -0.00000 0.00000" xyz="-0.10000 0.00400 0.00900"/>
			<geometry>
				<capsule length="0.14600" radius="0.00800"/>
			</geometry>
		</collision>
		<visual>
			<origin rpy="1.571 -0.00000 0.00000" xyz="0.10000 0.00400 0.00900"/>
			<geometry>
				<capsule length="0.14600" radius="0.00800"/>
			</geometry>
			 <material name="puck_red"/>
		</visual>
		<collision>
			<origin rpy="1.571 -0.00000 0.00000" xyz="0.10000 0.00400 0.00900"/>
			<geometry>
				<capsule length="0.14600" radius="0.00800"/>
			</geometry>
		</collision>
		<visual>
			<origin rpy="0.00000 -0.00000 0.00000" xyz="-0.10000 -0.06850 0.09100"/>
			<geometry>
				<capsule length="0.16400" radius="0.00800"/>
			</geometry>
			 <material name="puck_red"/>
		</visual>
		<collision>
			<origin rpy="0.00000 -0.00000 0.00000" xyz="-0.10000 -0.06850 0.09100"/>
			<geometry>
				<capsule length="0.16400" radius="0.00800"/>
			</geometry>
		</collision>
		<visual>
			<origin rpy="0.00000 -0.00000 0.00000" xyz="0.10000 -0.06850 0.09100"/>
			<geometry>
				<capsule length="0.16400" radius="0.00800"/>
			</geometry>
			 <material name="puck_red"/>
		</visual>
		<collision>
			<origin rpy="0.00000 -0.00000 0.00000" xyz="0.10000 -0.06850 0.09100"/>
			<geometry>
				<capsule length="0.16400" radius="0.00800"/>
			</geometry>
		</collision>
		<visual>
			<origin rpy="0.00000 1.571 0.00000" xyz="0.00000 -0.06850 0.17400"/>
			<geometry>
				<capsule length="0.20000" radius="0.00800"/>
			</geometry>
			 <material name="puck_red"/>
		</visual>
		<collision>
			<origin rpy="0.00000 1.571 0.00000" xyz="0.00000 -0.06850 0.17400"/>
			<geometry>
				<capsule length="0.20000" radius="0.00800"/>
			</geometry>
		</collision>
		<visual>
			<origin rpy="0.00000 1.571 0.00000" xyz="0.00000 0.07700 0.00900"/>
			<geometry>
				<capsule length="0.20000" radius="0.00800"/>
			</geometry>
			 <material name="puck_red"/>
		</visual>
		<collision>
			<origin rpy="0.00000 1.571 0.00000" xyz="0.00000 0.07700 0.00900"/>
			<geometry>
				<capsule length="0.20000" radius="0.00800"/>
			</geometry>
		</collision>
	</link>
	<joint name="jointfix_2_0" type="fixed">
		<parent link="link0_0"/>
		<child link="link0_1"/>
		<dynamics damping="1.0" friction="0.0001"/>
		<origin rpy="0.00000 -0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
		<axis xyz="0.00000 0.00000 0.00000"/>
	</joint>
	<joint name="jointfix_1_0" type="fixed">
		<parent link="link0_1"/>
		<child link="frame_vis"/>
		<dynamics damping="1.0" friction="0.0001"/>
		<origin rpy="0.00000 -0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
		<axis xyz="0.00000 0.00000 0.00000"/>
	</joint>

</robot>
